# Byte-compiled / optimized / DLL files
.coverage
coverage.xml
htmlcov/
nosetests.xml
**/__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environments
.venv
env/
venv/

# IDE/editor
.vscode/
.idea/

# MacOS
.DS_Store

# Logs
*.log

